name: PyPI Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Flit Build
        run: |
          pip install flit
          flit build

      - name: Store Packed
        uses: actions/upload-artifact@v4
        with:
          path: dist/
          name: pack-dist

  publish:
    name: Publish Package
    runs-on: ubuntu-latest

    needs:
      - build
    environment:
      name: pypi
      url: https://pypi.org/p/gradupe
    permissions:
      id-token: write

    steps:
      - name: Download Packed
        uses: actions/download-artifact@v5
        with:
          path: dist/
          name: pack-dist

      - name: PyPI Publish
        uses: pypa/gh-action-pypi-publish@release/v1
